
$bad-color: #AA3939;
$good-color: #2D882D;
$neutral-color: #226666;
$light-text-color: #FFD1AA;
$dark-text-color: #003333;


$box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);